node_modules
.env
.env.example
.env.local
.env.account

coverage
coverage.json
typechain
typechain-types

# cursor files
.cursor/

# Hardhat files
cache/
artifacts/
ignition/

# other files
private/
tasks/
